<!-- GENERAL BRIGHTNESS -->
<form id="general-brightness-form">
  <label class="visually-hidden" for="general-brightness-form"
    >Brightness settings</label
  >
  <app-range-group
    label="General Brightness:"
    name="general-brightness"
    (onChange)="onGeneralBrightnessChange($event)"
  ></app-range-group>
  <app-preview-apply-group
    (onApplyClicked)="onGeneralBrightnessApply()"
  ></app-preview-apply-group>
</form>

<hr />

<!-- BRIGHTNESS OF DARK AREAS -->
<form id="dark-brightness-from">
  <label class="visually-hidden" for="dark-brightness-from"
    >Brightness of dark areas</label
  >
  <app-range-group
    label="Adapt brightness of dark areas:"
    name="dark-spot-brightness"
    (onChange)="onDarkBrightnessChange($event)"
  ></app-range-group>
  <app-preview-apply-group
    (onApplyClicked)="onDarkBrightnessApply()"
  ></app-preview-apply-group>
</form>

<hr />

<!-- BRIGHTNESS OF BRIGHT AREAS -->
<form id="bright-brightness-form">
  <label class="visually-hidden" fro="bright-brightness-form">
    Brightness of bright areas
  </label>
  <app-range-group
    label="Adapt brightness of bright areas:"
    name="bright-spot-brightness"
    (onChange)="onBrightBrightnessChange($event)"
  ></app-range-group>
  <app-preview-apply-group
    (onApplyClicked)="onBrightBrightnessApply()"
  ></app-preview-apply-group>
</form>
