<div class="d-flex flex-column gap-3 w-100">
  <!-- rotate left -->
  <form id="mirror-form-left">
    <label class="visually-hidden" for="mirror-form-left">Rotate left</label>
    <button class="btn btn-outline-primary w-100" type="submit">
      <div
        class="d-flex flex-row justify-content-center gap-3"
        aria-hidden="true"
      >
        <div class="bi bi-image"></div>
        <span class="bi bi-arrow-right"></span>
        <div class="bi bi-image" style="transform: rotate(90deg)"></div>
      </div>
      <span class="small">Rotate 90<abbr title="degrees">°</abbr> right</span>
    </button>
  </form>

  <!-- rotate right -->
  <form id="mirror-form-left">
    <label class="visually-hidden" for="mirror-form-left">Rotate left</label>
    <button class="btn btn-outline-primary w-100" type="submit">
      <div
        class="d-flex flex-row justify-content-center gap-3"
        aria-hidden="true"
      >
        <div class="bi bi-image"></div>
        <span class="bi bi-arrow-right"></span>
        <div class="bi bi-image" style="transform: rotate(-90deg)"></div>
      </div>
      <span class="small">Rotate 90<abbr title="degrees">°</abbr> left</span>
    </button>
  </form>

  <!-- rotate 180 -->
  <form id="mirror-form-left">
    <label class="visually-hidden" for="mirror-form-left">Rotate left</label>
    <button class="btn btn-outline-primary w-100" type="submit">
      <div
        class="d-flex flex-row justify-content-center gap-3"
        aria-hidden="true"
      >
        <div class="bi bi-image"></div>
        <span class="bi bi-arrow-right"></span>
        <div class="bi bi-image" style="transform: rotate(180deg)"></div>
      </div>
      Rotate 180<abbr title="degrees">°</abbr>
    </button>
  </form>
</div>
