<div class="editor-container">
  <app-select-tools></app-select-tools>
  <div class="center-container" *ngIf="src">
    <!---->
    <img
      class="center-container-item"
      [ngClass]="{ blurred: isLoading }"
      [src]="src"
      (load)="onImgLoad()"
      #img
    />

    <canvas
      class="center-container-item border shadow"
      [ngClass]="{ 'close-pointer': isClosePath }"
      (click)="onCanvasClicked($event)"
      (mousedown)="onCanvasMouseDown($event)"
      (mouseup)="onCanvasMouseUp($event)"
      #canvas
    ></canvas>
    <!---->
  </div>
</div>
